.menu-page {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .menu-category {
    margin: 30px 0;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

  }
  
  .menu-card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .menu-card:hover {
    transform: scale(1);
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .menu-card img {
    width: 80%;
    border-radius: 8px;
    /* overflow: hidden; */
  }
  
  .menu-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
  }
  
  .menu-card p {
    font-size: 14px;
    color: #555;
  }
  
  .menu-card .price {
    font-weight: bold;
    color: #28a745;
    margin: 10px 0;
  }
  
  .menu-card button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-card button:hover {
    background-color: #0056b3;
  }
  